<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="MitahuResto is your go-to app for exploring traditional, fresh, and signature restaurant experiences."
    />
    <meta name="theme-color" content="#FFFFF" />
    <meta
      name="keywords"
      content="restaurant, food, MitahuResto, local, farm-to-table, dining"
    />
    <title>MitahuResto App</title>
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
      crossorigin="anonymous"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link rel="preload" href="./images/heros/hero-image1_mini.jpg" as="image" type="image/jpeg" loading="eager" decoding="async" />
    <link rel="manifest" href="app.webmanifest" />
    <link rel="icon" href="./images/icons/icon-72x72.png" />
    <link rel="stylesheet" href="../styles/main.scss" />
    <link rel="stylesheet" href="../styles/responsive.scss" />
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content?</a>
    <header-custom></header-custom>
    <slider-custom></slider-custom>
    <main id="content" class="main-content__container" tabindex="0"></main>
    <footer-custom></footer-custom>
  </body>
</html>
